# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build / cache
dist/
build/
.cache/
.tmp/

# OS files
.DS_Store
Thumbs.db

# Optional: VS Code settings
.vscode/
